/*--------------
     RESET
--------------*/
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    GENERAL
--------------*/

.container {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

/*---------------
      DEBUG
----------------*/
section {
    padding: 30px;
}

.col-big {
    width: 60%;
max-width: 1200px;
background-color: aquamarine;
}

.col-small {
    width: 40%;
max-width: 1200px;
background-color: hotpink;
}

/*--------------
    HEADER
---------------*/

.header-top {
    background-color: #add8ef;
    padding: 15px;
}

.header-bottom {
    background-color: blue;
    padding: 30px;
}

.header-top > .container {
    display: flex;
    background-color: #daa520;
    border: dashed black;
    max-width: 1200px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}


.header-top .login {
    width: 20%;
    text-align: right;
}

.header-bottom > .container {
    border: dashed black;
}

.header-bottom .jumbo {
    background-color: salmon;
    max-width: 1200px;
    min-height: 400px;
}

.main-top {
    background-color: white;
    padding: 30px;
}

.main-top > .container {
border: dashed black;
min-height: 500px;
display: flex;
}

.main-middle {
background-color: gray;
padding: 30px;
}

.main-middle > .container {
    border: dashed black;
    display: flex;
    min-height: 500px;
}


.col-big {
border-right: dashed black;
}

.col-small {
border-left: dashed black;
}



.main-bottom {
    background-color: gray ;
    padding: 30px;
}

.main-bottom > .container {
    border: dashed black;
}

.main-bottom .square {
    background-color: green;
    max-width: 1200px;
    min-height: 500px;

}

footer {
    background-color: black;
    padding: 30px;
}

.footer-top > .container {
    border: dashed black;
    max-width: 1200px;
    min-height: 400px;
    display: flex;
}

.col-main {
    width: 40%;
    background-color: palevioletred;
    border: dashed black;
}

.col-side {
    width: 15%;
    background-color: aqua;
    border: dashed white;
}